*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

.education-experience-title-container{
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.about-me-title{
  font-weight: 700;
}

.education,
.experience,
.passion{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3% 5%;
  border-bottom: solid 1px rgb(217, 217, 217);
}

.experience{
  background-color: #fafafa;
}

.education-title,
.experience-title,
.passion-title{
  font-weight: 600;
}

.passion{
  border-bottom: none;
}

.card{
  margin-right: 0;
}

.technology,
.car,
.sport{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.top-link-container{
  margin-top: 0;
}

@media (min-width:426px) and (max-width:870px){
  .technology,
  .car,
  .sport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  #tech,
  #audi-a3,
  #bernabeu{
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 425px){
  .technology,
  .car,
  .sport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  #tech,
  #audi-a3,
  #bernabeu{
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}